.App {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#user {
    /*
    align-self: center;
    */


}

#market-container {
    text-align: center;
}
